@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
  background-color: #e0e0e0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
}

.sherrif-button {
  border: 0;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 500;
  padding: 10px 30px;
  color: #264653;
  font-size: 15px;
  border-radius: 0px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #a8a8a8, -5px -5px 10px #ffffff;
}

.sherrif-button:hover {
  border-radius: 0px;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px #a8a8a8, inset -5px -5px 10px #ffffff;
}

.green-text {
  color: #76c893;
}
