.sherrif-button {
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 10px;
  background: #76c893;
  color: white;
  border: 1px solid transparent;
  font-size: 15px;
}

.sherrif-button:hover {
  background: transparent;
  color: #76c893;
  border: 1px solid #76c893;
}
